.sticky-add-to-cart.bacola-product-bottom-popup-cart {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    z-index: -100;
    padding: 10px 0;
    background: #fff;
    will-change: transform;
    -webkit-transition: opacity 0.25s ease,ease;
    transition: opacity 0.25s ease,transform 0.25s ease;
    opacity: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-box-shadow: -2px 2px 45px -20px rgb(0 0 0 / 30%);
    -moz-box-shadow: -2px 2px 45px -20px rgba(0,0,0,.3);
    box-shadow: -2px 2px 45px -20px rgb(0 0 0 / 30%);
}
.sticky-add-to-cart.bacola-product-bottom-popup-cart.active {
    opacity: 1;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    z-index: 102;
}
.single-product .bacola-product-bottom-popup-cart .bacola-product-bottom-details {
    display: flex;
    align-items: center;
    height: 100%;
}
.single-product .bacola-product-bottom-popup-cart .bacola-product-bottom-details img {
    margin-right: 20px;
}
.single-product .bacola-product-bottom-popup-cart span.price {
    display: block;
}

.single-product .bacola-product-bottom-popup-cart form,
.single-product .bacola-product-bottom-popup-cart .bacola-popup-cart-to-top {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
	justify-content: flex-end;
	height: 100%;
}

@media (max-width: 64rem){
	.single-product .bacola-product-bottom-popup-cart.active {
		position: fixed;
		bottom: 0;
		max-width: 100%;
		width: 100%;
		z-index: 102;
		padding: 10px 0;
		background: #fff;
		will-change: transform;
		-webkit-transition: opacity 0.25s ease,ease;
		transition: opacity 0.25s ease,transform 0.25s ease;
		opacity: 0;
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-box-shadow: -2px 2px 45px -20px rgb(0 0 0 / 30%);
		-moz-box-shadow: -2px 2px 45px -20px rgba(0,0,0,.3);
		box-shadow: -2px 2px 45px -20px rgb(0 0 0 / 30%);
	}
}

.single-product .bacola-product-bottom-popup-cart form.cart.single-ajax button {
    position: relative;
}

.single-product .bacola-product-bottom-popup-cart form.cart.single-ajax button svg {
    color: #fff;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bacola-product-bottom-popup-cart .tinv-wraper.tinv-wishlist,
.bacola-product-bottom-popup-cart .stock {
    display: none;
}

.bacola-product-bottom-popup-cart button.single_add_to_cart_button {
    margin-left: 0.9375rem;
}

.bacola-product-bottom-popup-cart button.single_add_to_cart_button + button {
    margin-left: 0.9375rem;
}